# 1) Data Extraction

In [119]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [83]:
filenames = []
for file in os.listdir('t20s'):
    filenames.append(os.path.join('t20s',file))

In [84]:
filenames[0:5]

['t20s\\211028.yaml',
 't20s\\211048.yaml',
 't20s\\222678.yaml',
 't20s\\225263.yaml',
 't20s\\225271.yaml']

In [85]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = pd.concat([final_df, df], ignore_index=True)
        counter+=1
        
final_df

100%|██████████| 137/137 [00:39<00:00,  3.46it/s]

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,...,info.registry.people.CK Coventry,info.registry.people.CR Ervine,info.registry.people.GA Lamb,info.registry.people.RW Price,info.registry.people.T Maruma,info.registry.people.CB Mpofu,info.registry.people.NLTC Perera,info.registry.people.Jahurul Islam,info.registry.people.CU Jayasinghe,info.registry.people.R Vinay Kumar
0,"[{'1st innings': {'team': 'England', 'deliveri...",0.91,2013-02-22,1,6,Southampton,[2005-06-13],male,T20,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2013-02-22,1,6,Auckland,[2005-02-17],male,T20,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'South Africa', 'del...",0.91,2013-02-22,3,6,Johannesburg,[2005-10-21],male,T20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'England', 'deliveri...",0.91,2013-02-20,1,6,Bristol,[2006-08-28],male,T20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2013-02-20,1,6,Southampton,[2006-06-15],male,T20,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,"[{'1st innings': {'team': 'India', 'deliveries...",0.91,2010-05-18,2,6,St Lucia,[2010-05-11],male,T20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0f12f9df,NaN,575ab3ce,41eb4a4f
133,"[{'1st innings': {'team': 'West Indies', 'deli...",0.91,2010-05-18,2,6,St Lucia,[2010-05-11],male,T20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2010-05-18,2,6,St Lucia,[2010-05-13],male,T20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0f12f9df,NaN,575ab3ce,NaN
135,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.91,2010-05-18,2,6,St Lucia,[2010-05-14],male,T20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2010-05-18,2,6,Barbados,[2010-05-16],male,T20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
final_df.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'ME Trescothick',
   'bowler': 'B Lee',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'ME Trescothick',
   'bowler': 'B Lee',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.3: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.4: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.5: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.6: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'extras': {'noballs': 1},
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {0.7: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {1.1: {'batsman': 'ME Trescothick',
   'bowler': 'GD McGrath',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'ME Trescothick',
   'bowler': 'GD McGrath',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.3: {'batsman': 'ME Trescothick',
   'bowler': 'GD McGrath',
   'extras': {'wides': 1},
   'non_striker': 'GO Jones',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {1.4: {'batsman': 'ME Trescothick',
   'bowler': 'GD McGrath',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'ME Trescothick',
   'bowler': 'GD McGrath',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.6: {'batsman': 'ME Trescothick',
   'bowler': 'GD McGrath',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.7: {'batsman': 'ME Trescothick',
   'bowler': 'GD McGrath',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.1: {'batsman': 'ME Trescothick',
   'bowler': 'B Lee',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.2: {'batsman': 'ME Trescothick',
   'bowler': 'B Lee',
   'non_striker': 'GO Jones',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.5: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'GO Jones',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.1: {'batsman': 'GO Jones',
   'bowler': 'GD McGrath',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'GO Jones',
   'bowler': 'GD McGrath',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.3: {'batsman': 'GO Jones',
   'bowler': 'GD McGrath',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.4: {'batsman': 'GO Jones',
   'bowler': 'GD McGrath',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.5: {'batsman': 'GO Jones',
   'bowler': 'GD McGrath',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['MS Kasprowicz'],
    'kind': 'caught',
    'player_out': 'GO Jones'}}},
 {3.6: {'batsman': 'ME Trescothick',
   'bowler': 'GD McGrath',
   'non_striker': 'A Flintoff',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'ME Trescothick',
   'bowler': 'B Lee',
   'non_striker': 'A Flintoff',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.2: {'batsman': 'A Flintoff',
   'bowler': 'B Lee',
   'extras': {'noballs': 1},
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 1, 'total': 2}}},
 {4.3: {'batsman': 'ME Trescothick',
   'bowler': 'B Lee',
   'non_striker': 'A Flintoff',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.4: {'batsman': 'ME Trescothick',
   'bowler': 'B Lee',
   'non_striker': 'A Flintoff',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.5: {'batsman': 'A Flintoff',
   'bowler': 'B Lee',
   'extras': {'wides': 1},
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {4.6: {'batsman': 'A Flintoff',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.7: {'batsman': 'ME Trescothick',
   'bowler': 'B Lee',
   'extras': {'legbyes': 1},
   'non_striker': 'A Flintoff',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {4.8: {'batsman': 'A Flintoff',
   'bowler': 'B Lee',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {5.1: {'batsman': 'A Flintoff',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'ME Trescothick',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'A Flintoff',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.3: {'batsman': 'ME Trescothick',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'A Flintoff',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {5.4: {'batsman': 'ME Trescothick',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'A Flintoff',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.5: {'batsman': 'A Flintoff',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['A Symonds'],
    'kind': 'caught',
    'player_out': 'A Flintoff'}}},
 {5.6: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.1: {'batsman': 'KP Pietersen',
   'bowler': 'JN Gillespie',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'ME Trescothick',
   'bowler': 'JN Gillespie',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.3: {'batsman': 'ME Trescothick',
   'bowler': 'JN Gillespie',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.4: {'batsman': 'KP Pietersen',
   'bowler': 'JN Gillespie',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.5: {'batsman': 'KP Pietersen',
   'bowler': 'JN Gillespie',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {6.6: {'batsman': 'KP Pietersen',
   'bowler': 'JN Gillespie',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.1: {'batsman': 'ME Trescothick',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.2: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {7.3: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.4: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.5: {'batsman': 'ME Trescothick',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.6: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.1: {'batsman': 'KP Pietersen',
   'bowler': 'JN Gillespie',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'ME Trescothick',
   'bowler': 'JN Gillespie',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.3: {'batsman': 'KP Pietersen',
   'bowler': 'JN Gillespie',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.4: {'batsman': 'ME Trescothick',
   'bowler': 'JN Gillespie',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {8.5: {'batsman': 'ME Trescothick',
   'bowler': 'JN Gillespie',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.6: {'batsman': 'KP Pietersen',
   'bowler': 'JN Gillespie',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {9.1: {'batsman': 'ME Trescothick',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.2: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {9.3: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {9.4: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.5: {'batsman': 'ME Trescothick',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.6: {'batsman': 'KP Pietersen',
   'bowler': 'MS Kasprowicz',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {10.1: {'batsman': 'ME Trescothick',
   'bowler': 'MJ Clarke',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.2: {'batsman': 'KP Pietersen',
   'bowler': 'MJ Clarke',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.3: {'batsman': 'ME Trescothick',
   'bowler': 'MJ Clarke',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {10.4: {'batsman': 'ME Trescothick',
   'bowler': 'MJ Clarke',
   'non_striker': 'KP Pietersen',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.5: {'batsman': 'KP Pietersen',
   'bowler': 'MJ Clarke',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['ML Hayden'],
    'kind': 'caught',
    'player_out': 'KP Pietersen'}}},
 {10.6: {'batsman': 'ME Trescothick',
   'bowler': 'MJ Clarke',
   'non_striker': 'MP Vaughan',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.1: {'batsman': 'ME Trescothick',
   'bowler': 'A Symonds',
   'non_striker': 'MP Vaughan',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.2: {'batsman': 'MP Vaughan',
   'bowler': 'A Symonds',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['RT Ponting'],
    'kind': 'caught',
    'player_out': 'MP Vaughan'}}},
 {11.3: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.4: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'ME Trescothick',
   'bowler': 'A Symonds',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.6: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'PD Collingwood',
   'bowler': 'MJ Clarke',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.2: {'batsman': 'ME Trescothick',
   'bowler': 'MJ Clarke',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.3: {'batsman': 'ME Trescothick',
   'bowler': 'MJ Clarke',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'PD Collingwood',
   'bowler': 'MJ Clarke',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'PD Collingwood',
   'bowler': 'MJ Clarke',
   'non_striker': 'ME Trescothick',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'ME Trescothick',
   'bowler': 'MJ Clarke',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'ME Trescothick',
   'bowler': 'A Symonds',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['MEK Hussey'],
    'kind': 'caught',
    'player_out': 'ME Trescothick'}}},
 {13.2: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.3: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'AJ Strauss',
   'bowler': 'A Symonds',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.5: {'batsman': 'AJ Strauss',
   'bowler': 'A Symonds',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.6: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.1: {'batsman': 'AJ Strauss',
   'bowler': 'MJ Clarke',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.2: {'batsman': 'PD Collingwood',
   'bowler': 'MJ Clarke',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {14.3: {'batsman': 'PD Collingwood',
   'bowler': 'MJ Clarke',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'AJ Strauss',
   'bowler': 'MJ Clarke',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.5: {'batsman': 'AJ Strauss',
   'bowler': 'MJ Clarke',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.6: {'batsman': 'PD Collingwood',
   'bowler': 'MJ Clarke',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {15.1: {'batsman': 'AJ Strauss',
   'bowler': 'A Symonds',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.2: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.3: {'batsman': 'AJ Strauss',
   'bowler': 'A Symonds',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.4: {'batsman': 'AJ Strauss',
   'bowler': 'A Symonds',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {15.6: {'batsman': 'PD Collingwood',
   'bowler': 'A Symonds',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.1: {'batsman': 'PD Collingwood',
   'bowler': 'JN Gillespie',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.2: {'batsman': 'AJ Strauss',
   'bowler': 'JN Gillespie',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {16.3: {'batsman': 'AJ Strauss',
   'bowler': 'JN Gillespie',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.4: {'batsman': 'AJ Strauss',
   'bowler': 'JN Gillespie',
   'extras': {'wides': 1},
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {16.5: {'batsman': 'AJ Strauss',
   'bowler': 'JN Gillespie',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'PD Collingwood',
   'bowler': 'JN Gillespie',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.7: {'batsman': 'PD Collingwood',
   'bowler': 'JN Gillespie',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {17.1: {'batsman': 'AJ Strauss',
   'bowler': 'GD McGrath',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.2: {'batsman': 'AJ Strauss',
   'bowler': 'GD McGrath',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.3: {'batsman': 'PD Collingwood',
   'bowler': 'GD McGrath',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.4: {'batsman': 'AJ Strauss',
   'bowler': 'GD McGrath',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.5: {'batsman': 'AJ Strauss',
   'bowler': 'GD McGrath',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'PD Collingwood',
   'bowler': 'GD McGrath',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.1: {'batsman': 'PD Collingwood',
   'bowler': 'JN Gillespie',
   'non_striker': 'AJ Strauss',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.2: {'batsman': 'AJ Strauss',
   'bowler': 'JN Gillespie',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'bowled', 'player_out': 'AJ Strauss'}}},
 {18.3: {'batsman': 'VS Solanki',
   'bowler': 'JN Gillespie',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.4: {'batsman': 'PD Collingwood',
   'bowler': 'JN Gillespie',
   'non_striker': 'VS Solanki',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {18.5: {'batsman': 'PD Collingwood',
   'bowler': 'JN Gillespie',
   'non_striker': 'VS Solanki',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {18.6: {'batsman': 'PD Collingwood',
   'bowler': 'JN Gillespie',
   'non_striker': 'VS Solanki',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.1: {'batsman': 'VS Solanki',
   'bowler': 'GD McGrath',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.2: {'batsman': 'VS Solanki',
   'bowler': 'GD McGrath',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.3: {'batsman': 'VS Solanki',
   'bowler': 'GD McGrath',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.4: {'batsman': 'VS Solanki',
   'bowler': 'GD McGrath',
   'non_striker': 'PD Collingwood',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['MEK Hussey'],
    'kind': 'caught',
    'player_out': 'VS Solanki'}}},
 {19.5: {'batsman': 'PD Collingwood',
   'bowler': 'GD McGrath',
   'non_striker': 'J Lewis',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.6: {'batsman': 'PD Collingwood',
   'bowler': 'GD McGrath',
   'non_striker': 'J Lewis',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['RT Ponting'],
    'kind': 'caught',
    'player_out': 'PD Collingwood'}}}]

# 2) Data Cleaning, Feature Extraction, and Feature Engineering

In [5]:
final_df = final_df[['innings','info.dates','info.gender','info.match_type','info.outcome.winner','info.overs','info.player_of_match','info.teams','info.toss.decision','info.toss.winner','info.umpires','info.venue','match_id','info.city']]

In [6]:
# final_df.to_csv('final_df.csv', index=False)

In [7]:
# final_df = pd.read_csv('final_df.csv')

In [8]:
final_df

,innings,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'England', 'deliveri...",[2005-06-13],male,T20,England,20,[KP Pietersen],"[England, Australia]",bat,England,"[NJ Llong, JW Lloyds]",The Rose Bowl,1,Southampton
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2005-02-17],male,T20,Australia,20,[RT Ponting],"[New Zealand, Australia]",bat,Australia,"[BF Bowden, AL Hill]",Eden Park,2,Auckland
2,"[{'1st innings': {'team': 'South Africa', 'del...",[2005-10-21],male,T20,New Zealand,20,[JS Patel],"[South Africa, New Zealand]",field,New Zealand,"[IL Howell, BG Jerling]",New Wanderers Stadium,3,Johannesburg
3,"[{'1st innings': {'team': 'England', 'deliveri...",[2006-08-28],male,T20,Pakistan,20,[Shahid Afridi],"[England, Pakistan]",bat,England,"[PJ Hartley, NJ Llong]",County Ground,4,Bristol
4,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2006-06-15],male,T20,Sri Lanka,20,[ST Jayasuriya],"[England, Sri Lanka]",bat,Sri Lanka,"[IJ Gould, NJ Llong]",The Rose Bowl,5,Southampton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,"[{'1st innings': {'team': 'India', 'deliveries...",[2010-05-11],male,T20,Sri Lanka,20,[AD Mathews],"[India, Sri Lanka]",bat,India,"[Aleem Dar, SJ Davis]","Beausejour Stadium, Gros Islet",133,St Lucia
133,"[{'1st innings': {'team': 'West Indies', 'deli...",[2010-05-11],male,T20,Australia,20,[SPD Smith],"[West Indies, Australia]",bat,West Indies,"[BF Bowden, RE Koertzen]","Beausejour Stadium, Gros Islet",134,St Lucia
134,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2010-05-13],male,T20,England,20,[SCJ Broad],"[England, Sri Lanka]",bat,Sri Lanka,"[Aleem Dar, SJA Taufel]","Beausejour Stadium, Gros Islet",135,St Lucia
135,"[{'1st innings': {'team': 'Pakistan', 'deliver...",[2010-05-14],male,T20,Australia,20,[MEK Hussey],"[Australia, Pakistan]",field,Australia,"[BR Doctrove, IJ Gould]","Beausejour Stadium, Gros Islet",136,St Lucia
136,"[{'1st innings': {'team': 'Australia', 'delive...",[2010-05-16],male,T20,England,20,[C Kieswetter],"[Australia, England]",field,England,"[Aleem Dar, BR Doctrove]","Kensington Oval, Bridgetown",137,Barbados

In [9]:
final_df['info.gender'].value_counts()

info.gender
male      134
female      3
Name: count, dtype: int64

In [10]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df.drop(columns=['info.gender'],inplace=True)
final_df

C:\Users\srika\AppData\Local\Temp\ipykernel_20124\2142223783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.gender'],inplace=True)

,innings,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'England', 'deliveri...",[2005-06-13],T20,England,20,[KP Pietersen],"[England, Australia]",bat,England,"[NJ Llong, JW Lloyds]",The Rose Bowl,1,Southampton
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2005-02-17],T20,Australia,20,[RT Ponting],"[New Zealand, Australia]",bat,Australia,"[BF Bowden, AL Hill]",Eden Park,2,Auckland
2,"[{'1st innings': {'team': 'South Africa', 'del...",[2005-10-21],T20,New Zealand,20,[JS Patel],"[South Africa, New Zealand]",field,New Zealand,"[IL Howell, BG Jerling]",New Wanderers Stadium,3,Johannesburg
3,"[{'1st innings': {'team': 'England', 'deliveri...",[2006-08-28],T20,Pakistan,20,[Shahid Afridi],"[England, Pakistan]",bat,England,"[PJ Hartley, NJ Llong]",County Ground,4,Bristol
4,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2006-06-15],T20,Sri Lanka,20,[ST Jayasuriya],"[England, Sri Lanka]",bat,Sri Lanka,"[IJ Gould, NJ Llong]",The Rose Bowl,5,Southampton
...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,"[{'1st innings': {'team': 'India', 'deliveries...",[2010-05-11],T20,Sri Lanka,20,[AD Mathews],"[India, Sri Lanka]",bat,India,"[Aleem Dar, SJ Davis]","Beausejour Stadium, Gros Islet",133,St Lucia
133,"[{'1st innings': {'team': 'West Indies', 'deli...",[2010-05-11],T20,Australia,20,[SPD Smith],"[West Indies, Australia]",bat,West Indies,"[BF Bowden, RE Koertzen]","Beausejour Stadium, Gros Islet",134,St Lucia
134,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2010-05-13],T20,England,20,[SCJ Broad],"[England, Sri Lanka]",bat,Sri Lanka,"[Aleem Dar, SJA Taufel]","Beausejour Stadium, Gros Islet",135,St Lucia
135,"[{'1st innings': {'team': 'Pakistan', 'deliver...",[2010-05-14],T20,Australia,20,[MEK Hussey],"[Australia, Pakistan]",field,Australia,"[BR Doctrove, IJ Gould]","Beausejour Stadium, Gros Islet",136,St Lucia
136,"[{'1st innings': {'team': 'Australia', 'delive...",[2010-05-16],T20,England,20,[C Kieswetter],"[Australia, England]",field,England,"[Aleem Dar, BR Doctrove]","Kensington Oval, Bridgetown",137,Barbados

In [11]:
final_df['info.match_type'].value_counts()

info.match_type
T20    134
Name: count, dtype: int64

In [12]:
final_df['info.overs'].value_counts()

info.overs
20    134
Name: count, dtype: int64

In [13]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'England', 'deliveri...",[2005-06-13],England,[KP Pietersen],"[England, Australia]",bat,England,"[NJ Llong, JW Lloyds]",The Rose Bowl,1,Southampton
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2005-02-17],Australia,[RT Ponting],"[New Zealand, Australia]",bat,Australia,"[BF Bowden, AL Hill]",Eden Park,2,Auckland
2,"[{'1st innings': {'team': 'South Africa', 'del...",[2005-10-21],New Zealand,[JS Patel],"[South Africa, New Zealand]",field,New Zealand,"[IL Howell, BG Jerling]",New Wanderers Stadium,3,Johannesburg
3,"[{'1st innings': {'team': 'England', 'deliveri...",[2006-08-28],Pakistan,[Shahid Afridi],"[England, Pakistan]",bat,England,"[PJ Hartley, NJ Llong]",County Ground,4,Bristol
4,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2006-06-15],Sri Lanka,[ST Jayasuriya],"[England, Sri Lanka]",bat,Sri Lanka,"[IJ Gould, NJ Llong]",The Rose Bowl,5,Southampton
...,...,...,...,...,...,...,...,...,...,...,...
132,"[{'1st innings': {'team': 'India', 'deliveries...",[2010-05-11],Sri Lanka,[AD Mathews],"[India, Sri Lanka]",bat,India,"[Aleem Dar, SJ Davis]","Beausejour Stadium, Gros Islet",133,St Lucia
133,"[{'1st innings': {'team': 'West Indies', 'deli...",[2010-05-11],Australia,[SPD Smith],"[West Indies, Australia]",bat,West Indies,"[BF Bowden, RE Koertzen]","Beausejour Stadium, Gros Islet",134,St Lucia
134,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2010-05-13],England,[SCJ Broad],"[England, Sri Lanka]",bat,Sri Lanka,"[Aleem Dar, SJA Taufel]","Beausejour Stadium, Gros Islet",135,St Lucia
135,"[{'1st innings': {'team': 'Pakistan', 'deliver...",[2010-05-14],Australia,[MEK Hussey],"[Australia, Pakistan]",field,Australia,"[BR Doctrove, IJ Gould]","Beausejour Stadium, Gros Islet",136,St Lucia
136,"[{'1st innings': {'team': 'Australia', 'delive...",[2010-05-16],England,[C Kieswetter],"[Australia, England]",field,England,"[Aleem Dar, BR Doctrove]","Kensington Oval, Bridgetown",137,Barbados

In [2]:
import pickle as pkl
import pandas as pd
with open("dataset_level1.pkl", "rb") as f:
    object = pkl.load(f)
    
df = pd.DataFrame(object)
# df.to_csv(r'file.csv')

In [3]:
df.shape

(2690, 11)

In [4]:
final_df = df.copy()

In [14]:
# import pickle
# pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [123]:
matches = final_df.copy()

In [140]:
matches = pickle.load(open('dataset_level1.pkl','rb'))

In [141]:
# import ast

# def string_to_dict(s):
#     res = ast.literal_eval(s)
#     return res

# matches['innings'].apply(string_to_dict)
# # matches

In [142]:
import ast
import json
import pickle
import marshal
# matches.iloc[0]['innings']
ast.literal_eval(matches.iloc[0]['innings'])

[{'1st innings': {'team': 'Australia',
   'deliveries': [{0.1: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.2: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.3: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {0.4: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {0.5: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.6: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {1.1: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.2: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {1.3: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.5: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {1.6: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {2.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {2.6: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.1: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.2: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.3: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.5: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {3.6: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.6: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.1: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'wides': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {5.3: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.5: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.7: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.4: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.6: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {7.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {7.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'byes': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {7.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {7.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {8.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.4: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.6: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.2: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.4: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {9.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {10.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.2: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'extras': {'legbyes': 1},
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {10.3: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'M Klinger'}}},
    {10.4: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {10.5: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {11.1: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {11.2: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {11.3: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'AJ Finch'}}},
    {11.4: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.5: {'batsman': 'MC Henriques',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.6: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.1: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.2: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.3: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.4: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.5: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.6: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.1: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {13.2: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'extras': {'wides': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {13.3: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {13.5: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.6: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.7: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.1: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.2: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.3: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.4: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {14.5: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.1: {'batsman': 'MC Henriques',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['CK Kapugedera'],
       'kind': 'caught',
       'player_out': 'MC Henriques'}}},
    {15.2: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.3: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.4: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.5: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.6: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'extras': {'wides': 1},
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {15.7: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {16.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {16.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {16.3: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.6: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.1: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.2: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {17.3: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'noballs': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {17.4: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.5: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.6: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.7: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.3: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'TM Head'}}},
    {18.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'JP Faulkner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'AJ Turner'}}},
    {18.6: {'batsman': 'JP Faulkner',
      'bowler': 'SL Malinga',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {19.1: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {19.2: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {19.3: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {19.4: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'wides': 1},

In [143]:
import ast
count = 1
delivery_df = pd.DataFrame()
# matches = final_df.copy()
for index, row in matches.iterrows():
    # if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
    #     count+=1
    #     continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    row_innings = ast.literal_eval(row['innings'])
    # row_innings = row['innings']
    for ball in row_innings[0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row_innings[0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = pd.concat([delivery_df, loop_df], ignore_index=True)

In [144]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"['Australia', 'Sri Lanka']",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,"['Australia', 'Sri Lanka']",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,"['Australia', 'Sri Lanka']",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,"['Australia', 'Sri Lanka']",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,"['Australia', 'Sri Lanka']",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...,...
325547,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium
325548,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium
325549,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium
325550,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium
325551,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium

In [145]:
def bowl(row):
    row_teams = ast.literal_eval(row['teams'])
    for team in row_teams:
        if team != row['batting_team']:
            return team

In [146]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [147]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"['Australia', 'Sri Lanka']",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,"['Australia', 'Sri Lanka']",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,"['Australia', 'Sri Lanka']",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,"['Australia', 'Sri Lanka']",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,"['Australia', 'Sri Lanka']",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...
325547,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
325548,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
325549,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
325550,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
325551,2691,"['Sri Lanka', 'Australia']",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [148]:
delivery_df.drop(columns=['teams'],inplace=True)

In [149]:
delivery_df['batting_team'].unique()

array(['Australia', 'Hong Kong', 'Zimbabwe', 'India', 'Bangladesh',
       'New Zealand', 'South Africa', 'England', 'West Indies',
       'Pakistan', 'Scotland', 'Oman', 'Ireland', 'Papua New Guinea',
       'United Arab Emirates', 'Sri Lanka', 'Netherlands', 'Nepal',
       'Vanuatu', 'Philippines', 'United States of America', 'Germany',
       'Ghana', 'Uganda', 'Kenya', 'Namibia', 'Nigeria', 'Botswana',
       'Guernsey', 'Denmark', 'Jersey', 'Italy', 'Norway', 'Thailand',
       'Malaysia', 'Maldives', 'Singapore', 'Kuwait', 'Bermuda', 'Canada',
       'Cayman Islands', 'Portugal', 'Gibraltar', 'Spain', 'Bhutan',
       'Qatar', 'Iran', 'Belgium', 'Isle of Man', 'Bulgaria', 'Romania',
       'Luxembourg', 'Austria', 'Czech Republic', 'Greece', 'Serbia',
       'Malta', 'France', 'Sweden', 'Rwanda', 'Finland', 'Hungary',
       'Estonia', 'Cyprus', 'Switzerland', 'Seychelles', 'Malawi',
       'Lesotho', 'Swaziland', 'Tanzania', 'Mozambique', 'Sierra Leone',
       'Cameroon', 'Bahrain', 'Belize', 'Bahamas', 'Argentina', 'Panama',
       'Israel', 'Croatia', 'Turkey', 'Slovenia', 'Cook Islands', 'Samoa',
       'Fiji', 'Japan', 'Indonesia', 'South Korea', 'Mali', 'St Helena',
       'Gambia', 'Eswatini', 'Saudi Arabia', 'China', 'Myanmar', 'Chile',
       'Mexico', 'Cambodia', 'Costa Rica', 'Mongolia', 'Brazil',
       'Ivory Coast', 'Suriname', 'Turks and Caicos Island'], dtype=object)

In [150]:
'Afghanistan' in delivery_df['batting_team'].unique()

False

In [ ]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Pakistan',
    'Sri Lanka'    
]

In [115]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [116]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...
325547,2691,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
325548,2691,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
325549,2691,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
325550,2691,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
325551,2691,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [41]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [42]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
325547,2691,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
325548,2691,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
325549,2691,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
325550,2691,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
325551,2691,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [47]:
output.to_csv('dataset_level2.csv', index=False)

In [32]:
# batting team
# bowling team
# city
# current score
# balls left
# wickets left
# current run rate
# runs in last five overs

In [49]:
output.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8549
venue                  0
dtype: int64

In [50]:
output[output['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sylhet International Cricket Stadium        128
Sharjah Cricket Stadium                     127
Carrara Oval                                 64
Name: count, dtype: int64

In [51]:
x = np.where(output['city'].isnull(), output['venue'].str.split().apply(lambda x:x[0]), output['city'])

In [52]:
output['city'] = x

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\2208188131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['city'] = x

In [53]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [54]:
output.drop(columns=['venue'],inplace=True)

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\2962604362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output.drop(columns=['venue'],inplace=True)

In [55]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
325547,2691,Sri Lanka,Australia,19.3,1,0,Colombo
325548,2691,Sri Lanka,Australia,19.4,0,0,Colombo
325549,2691,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
325550,2691,Sri Lanka,Australia,19.6,2,0,Colombo
325551,2691,Sri Lanka,Australia,19.7,1,0,Colombo

In [57]:
output['city'].value_counts()

city
Colombo          4924
Dubai            4889
Johannesburg     3964
Auckland         3288
Mirpur           3190
                 ...
Victoria          123
Jaipur            123
Potchefstroom     122
Dallas            122
Gwalior           121
Name: count, Length: 106, dtype: int64

In [58]:
eligible_cities = output['city'].value_counts()[output['city'].value_counts() > 600].index.tolist()

In [59]:
output = output[output['city'].isin(eligible_cities)]

In [61]:
output.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84885 entries, 0 to 325551
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          84885 non-null  int64
 1   batting_team      84885 non-null  object
 2   bowling_team      84885 non-null  object
 3   ball              84885 non-null  float64
 4   runs              84885 non-null  int64
 5   player_dismissed  84885 non-null  object
 6   city              84885 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 5.2+ MB

In [62]:
output['current_score'] = output.groupby('match_id')['runs'].cumsum()

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\1948576997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['current_score'] = output.groupby('match_id')['runs'].cumsum()

In [63]:
output.tail(120)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
325432,2691,Sri Lanka,Australia,0.7,0,0,Colombo,9
325433,2691,Sri Lanka,Australia,1.1,0,0,Colombo,9
325434,2691,Sri Lanka,Australia,1.2,0,TM Dilshan,Colombo,9
325435,2691,Sri Lanka,Australia,1.3,0,0,Colombo,9
325436,2691,Sri Lanka,Australia,1.4,0,0,Colombo,9
...,...,...,...,...,...,...,...,...
325547,2691,Sri Lanka,Australia,19.3,1,0,Colombo,125
325548,2691,Sri Lanka,Australia,19.4,0,0,Colombo,125
325549,2691,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
325550,2691,Sri Lanka,Australia,19.6,2,0,Colombo,127
325551,2691,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [64]:
output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\2016172815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\srika\AppData\Local\Temp\ipykernel_8040\2016172815.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

In [65]:
output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\765384734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')

In [66]:
output['balls_left'] = 120 - output['balls_bowled']
output['balls_left'] = output['balls_left'].apply(lambda x:0 if x<0 else x)

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\5402639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['balls_left'] = 120 - output['balls_bowled']
C:\Users\srika\AppData\Local\Temp\ipykernel_8040\5402639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['balls_left'] = output['balls_left'].apply(lambda x:0 if x<0 else x)

In [68]:
output.head(124)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
119,2,Australia,Sri Lanka,19.2,0,0,Melbourne,158,19,2,116,4
120,2,Australia,Sri Lanka,19.3,2,0,Melbourne,160,19,3,117,3
121,2,Australia,Sri Lanka,19.4,1,0,Melbourne,161,19,4,118,2
122,2,Australia,Sri Lanka,19.5,1,TD Paine,Melbourne,162,19,5,119,1
123,2,Australia,Sri Lanka,19.6,2,0,Melbourne,164,19,6,120,0

In [69]:
output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
output['player_dismissed'] = output['player_dismissed'].astype('int')

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\338702222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
C:\Users\srika\AppData\Local\Temp\ipykernel_8040\338702222.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['player_dismissed'] = output['player_dismissed'].astype('int')

In [71]:
output.head(125)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
120,2,Australia,Sri Lanka,19.3,2,0,Melbourne,160,19,3,117,3
121,2,Australia,Sri Lanka,19.4,1,0,Melbourne,161,19,4,118,2
122,2,Australia,Sri Lanka,19.5,1,1,Melbourne,162,19,5,119,1
123,2,Australia,Sri Lanka,19.6,2,0,Melbourne,164,19,6,120,0
124,2,Australia,Sri Lanka,19.7,4,0,Melbourne,168,19,7,121,0

In [72]:
output['player_dismissed'] = output.groupby('match_id')['player_dismissed'].cumsum()
output['wickets_left'] = 10 - output['player_dismissed']

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\2021999509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['player_dismissed'] = output.groupby('match_id')['player_dismissed'].cumsum()
C:\Users\srika\AppData\Local\Temp\ipykernel_8040\2021999509.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['wickets_left'] = 10 - output['player_dismissed']

In [75]:
output.head(124)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2,Australia,Sri Lanka,19.2,0,5,Melbourne,158,19,2,116,4,5
120,2,Australia,Sri Lanka,19.3,2,5,Melbourne,160,19,3,117,3,5
121,2,Australia,Sri Lanka,19.4,1,5,Melbourne,161,19,4,118,2,5
122,2,Australia,Sri Lanka,19.5,1,6,Melbourne,162,19,5,119,1,4
123,2,Australia,Sri Lanka,19.6,2,6,Melbourne,164,19,6,120,0,4

In [76]:
output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\3720133810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

In [77]:
output.head(123)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.00
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.00
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.00
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.50
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2,Australia,Sri Lanka,19.1,4,5,Melbourne,158,19,1,115,5,5,8.24
119,2,Australia,Sri Lanka,19.2,0,5,Melbourne,158,19,2,116,4,5,8.17
120,2,Australia,Sri Lanka,19.3,2,5,Melbourne,160,19,3,117,3,5,8.21
121,2,Australia,Sri Lanka,19.4,1,5,Melbourne,161,19,4,118,2,5,8.19
122,2,Australia,Sri Lanka,19.5,1,6,Melbourne,162,19,5,119,1,4,8.17

In [78]:
groups = output.groupby('match_id')

In [79]:
match_ids = output['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs'].sum().values.tolist())

In [80]:
output['last_five'] = last_five

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\3270546508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['last_five'] = last_five

In [81]:
output.head(40)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.00,NaN
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.00,NaN
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.00,NaN
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.50,NaN
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.60,NaN
5,2,Australia,Sri Lanka,0.6,3,0,Melbourne,6,0,6,6,114,10,6.00,NaN
6,2,Australia,Sri Lanka,1.1,0,0,Melbourne,6,1,1,7,113,10,5.14,NaN
7,2,Australia,Sri Lanka,1.2,1,0,Melbourne,7,1,2,8,112,10,5.25,NaN
8,2,Australia,Sri Lanka,1.3,0,0,Melbourne,7,1,3,9,111,10,4.67,NaN
9,2,Australia,Sri Lanka,1.4,0,0,Melbourne,7,1,4,10,110,10,4.20,NaN
10,2,Australia,Sri Lanka,1.5,4,0,Melbourne,11,1,5,11,109,10,6.00,NaN
11,2,Australia,Sri Lanka,1.6,2,0,Melbourne,13,1,6,12,108,10,6.50,NaN
12,2,Australia,Sri Lanka,2.1,1,0,Melbourne,14,2,1,13,107,10,6.46,NaN
13,2,Australia,Sri Lanka,2.2,1,0,Melbourne,15,2,2,14,106,10,6.43,NaN
14,2,Australia,Sri Lanka,2.3,0,0,Melbourne,15,2,3,15,105,10,6.00,NaN
15,2,Australia,Sri Lanka,2.4,0,0,Melbourne,15,2,4,16,104,10,5.62,NaN
16,2,Australia,Sri Lanka,2.5,4,0,Melbourne,19,2,5,17,103,10,6.71,NaN
17,2,Australia,Sri Lanka,2.6,0,0,Melbourne,19,2,6,18,102,10,6.33,NaN
18,2,Australia,Sri Lanka,3.1,0,0,Melbourne,19,3,1,19,101,10,6.00,NaN
19,2,Australia,Sri Lanka,3.2,1,0,Melbourne,20,3,2,20,100,10,6.00,NaN
20,2,Australia,Sri Lanka,3.3,1,0,Melbourne,21,3,3,21,99,10,6.00,NaN
21,2,Australia,Sri Lanka,3.4,1,0,Melbourne,22,3,4,22,98,10,6.00,NaN
22,2,Australia,Sri Lanka,3.5,4,0,Melbourne,26,3,5,23,97,10,6.78,NaN
23,2,Australia,Sri Lanka,3.6,1,0,Melbourne,27,3,6,24,96,10,6.75,NaN
24,2,Australia,Sri Lanka,4.1,3,0,Melbourne,30,4,1,25,95,10,7.20,NaN
25,2,Australia,Sri Lanka,4.2,3,0,Melbourne,33,4,2,26,94,10,7.62,NaN
26,2,Australia,Sri Lanka,4.3,4,0,Melbourne,37,4,3,27,93,10,8.22,NaN
27,2,Australia,Sri Lanka,4.4,4,0,Melbourne,41,4,4,28,92,10,8.79,NaN
28,2,Australia,Sri Lanka,4.5,1,0,Melbourne,42,4,5,29,91,10,8.69,NaN
29,2,Australia,Sri Lanka,4.6,1,0,Melbourne,43,4,6,30,90,10,8.60,43.0
30,2,Australia,Sri Lanka,5.1,1,0,Melbourne,44,5,1,31,89,10,8.52,44.0
31,2,Australia,Sri Lanka,5.2,1,0,Melbourne,45,5,2,32,88,10,8.44,45.0
32,2,Australia,Sri Lanka,5.3,0,0,Melbourne,45,5,3,33,87,10,8.18,44.0
33,2,Australia,Sri Lanka,5.4,0,0,Melbourne,45,5,4,34,86,10,7.94,42.0
34,2,Australia,Sri Lanka,5.5,1,0,Melbourne,46,5,5,35,85,10,7.89,43.0
35,2,Australia,Sri Lanka,5.6,1,0,Melbourne,47,5,6,36,84,10,7.83,41.0
36,2,Australia,Sri Lanka,5.7,0,0,Melbourne,47,5,7,37,83,10,7.62,41.0
37,2,Australia,Sri Lanka,6.1,1,0,Melbourne,48,6,1,37,83,10,7.78,41.0
38,2,Australia,Sri Lanka,6.2,1,0,Melbourne,49,6,2,38,82,10,7.74,42.0
39,2,Australia,Sri Lanka,6.3,0,0,Melbourne,49,6,3,39,81,10,7.54,42.0

In [82]:
total_df = output.groupby('match_id').sum()['runs'].reset_index()
output = output.merge(total_df,on='match_id')

In [83]:
output

,match_id,batting_team,bowling_team,ball,runs_x,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five,runs_y
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.00,NaN,168
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.00,NaN,168
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.00,NaN,168
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.50,NaN,168
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.60,NaN,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84880,2691,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.41,32.0,128
84881,2691,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.36,32.0,128
84882,2691,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.30,32.0,128
84883,2691,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.35,33.0,128
84884,2691,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.35,32.0,128

In [63]:
# final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]

In [84]:
final_df = output[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_y']]

In [85]:
final_df.dropna(inplace=True)

C:\Users\srika\AppData\Local\Temp\ipykernel_8040\2709626079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [86]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_y
29,Australia,Sri Lanka,Melbourne,43,90,10,8.60,43.0,168
30,Australia,Sri Lanka,Melbourne,44,89,10,8.52,44.0,168
31,Australia,Sri Lanka,Melbourne,45,88,10,8.44,45.0,168
32,Australia,Sri Lanka,Melbourne,45,87,10,8.18,44.0,168
33,Australia,Sri Lanka,Melbourne,45,86,10,7.94,42.0,168
...,...,...,...,...,...,...,...,...,...
84880,Sri Lanka,Australia,Colombo,125,3,2,6.41,32.0,128
84881,Sri Lanka,Australia,Colombo,125,2,2,6.36,32.0,128
84882,Sri Lanka,Australia,Colombo,125,1,1,6.30,32.0,128
84883,Sri Lanka,Australia,Colombo,127,0,1,6.35,33.0,128
84884,Sri Lanka,Australia,Colombo,128,0,1,6.35,32.0,128

In [87]:
final_df = final_df.sample(final_df.shape[0])

In [92]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_y
30220,Sri Lanka,England,Sydney,89,47,7,7.32,24.0,141
20171,England,West Indies,Bridgetown,148,15,7,8.46,45.0,193
53169,Australia,South Africa,Melbourne,93,68,9,10.73,51.0,182
56662,South Africa,England,Centurion,171,39,9,12.67,62.0,241
17891,Pakistan,South Africa,Lahore,62,72,8,7.75,41.0,169
...,...,...,...,...,...,...,...,...,...
16000,West Indies,New Zealand,Auckland,95,60,5,9.50,36.0,180
4959,Sri Lanka,Pakistan,Abu Dhabi,66,58,9,6.39,31.0,124
38807,West Indies,India,Providence,81,46,8,6.57,26.0,159
480,New Zealand,Bangladesh,Mount Maunganui,162,25,7,10.23,71.0,195
25621,India,New Zealand,Dubai,56,50,6,4.80,20.0,110

In [90]:
final_df.to_csv('dataset_level3.csv',index=False)

# 3) Dagshub MLFlow Setup

In [91]:
import mlflow
import dagshub

mlflow.set_tracking_uri('https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow')
dagshub.init(repo_owner='srikara202', repo_name='Cricket-T20-Score-Predictor-MLOps', mlflow=True)

mlflow.set_experiment('XGBoost Regressor Pipeline')

c:\Users\srika\anaconda3\envs\atlas310\lib\site-packages\mlflow\utils\requirements_utils.py:20: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources  # noqa: TID251

                                       ❗❗❗ AUTHORIZATION REQUIRED ❗❗❗

c:\Users\srika\anaconda3\envs\atlas310\lib\site-packages\rich\live.py:231: UserWarning: install "ipywidgets" for
Jupyter support
  warnings.warn('install "ipywidgets" for Jupyter support')

Open the following link in your browser to authorize the client:
https://dagshub.com/login/oauth/authorize?state=a44d0ec9-92b4-4972-a205-3069829c0954&client_id=32b60ba385aa7cecf24046d8195a71c07dd345d9657977863b52e7748e0f0f28&middleman_request_id=4938cfcd36208b8a02c3ae81392be620ed9e361c302183b1e7bb334d6ed34bf1

Accessing as srikara202

Initialized MLflow to track repo "srikara202/Cricket-T20-Score-Predictor-MLOps"

Repository srikara202/Cricket-T20-Score-Predictor-MLOps initialized!

<Experiment: artifact_location='mlflow-artifacts:/fe7075ca132b4da4a90741c5f4b57318', creation_time=1752417703229, experiment_id='0', last_update_time=1752417703229, lifecycle_stage='active', name='XGBoost Regressor Pipeline', tags={}>

# 4) Train Test Split

In [103]:
X = final_df.drop(columns=['runs_y'])
y = final_df['runs_y']
from sklearn.model_selection import train_test_split
ts = 0.20
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=ts,random_state=1)

# 5) Experiment Tracking using Dagshub and MLFlow

In [ ]:
# import logging
# import os
# import time
# import shutil
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import StandardScaler
# from sklearn.ensemble import RandomForestRegressor
# from xgboost import XGBRegressor
# from sklearn.metrics import r2_score,mean_absolute_error,root_mean_squared_error

# # Configure logging
# logging.basicConfig(level=logging.INFO, format="%(asctime)s - %(levelname)s - %(message)s")

# logging.info("Starting MLflow run...")

# with mlflow.start_run():
#     start_time = time.time()
    
#     try:
#         logging.info("Logging preprocessing parameters...")
#         n_estimators=700
#         learning_rate=0.3
#         max_depth=14
#         mlflow.log_param("test_size", ts)

#         logging.info("Initializing XGBoost Regression model with Column Transformer...")
#         trf = ColumnTransformer([
#             ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
#         ]
#         ,remainder='passthrough')
#         model = Pipeline(steps=[
#             ('step1',trf),
#             ('step2',StandardScaler()),
#             ('step3',XGBRegressor(n_estimators=n_estimators,learning_rate=learning_rate,max_depth=max_depth,random_state=1))
#         ])
        

#         logging.info("Fitting the model...")
#         model.fit(X_train, y_train)
#         logging.info("Model training complete.")

#         logging.info("Logging model parameters...")
#         mlflow.log_param("model", "Logistic Regression")
#         mlflow.log_param("n_estimators", n_estimators)
#         mlflow.log_param("learning_rate",learning_rate)
#         mlflow.log_param("max_depth", max_depth)

#         logging.info("Making predictions...")
#         y_pred = model.predict(X_test)

#         logging.info("Calculating evaluation metrics...")
#         r2s = r2_score(y_test,y_pred)
#         mae = mean_absolute_error(y_test,y_pred)
#         rmse = root_mean_squared_error(y_test,y_pred)

#         logging.info("Logging evaluation metrics...")
#         mlflow.log_metric("r2_score", r2s)
#         mlflow.log_metric("mean_absolute_error",mae)
#         mlflow.log_metric("root_mean_squared_error",rmse)
        
#         logging.info("Saving and logging the model...")
#         # If it’s there already, blow it away
#         model_dir = "model_dir"
#         if os.path.exists(model_dir):
#             shutil.rmtree(model_dir)
#         # Now save + upload
#         mlflow.sklearn.save_model(sk_model=model, path=model_dir)
#         mlflow.log_artifacts(model_dir, artifact_path="model")

#         # Log execution time
#         end_time = time.time()
#         logging.info(f"Model training and logging completed in {end_time - start_time:.2f} seconds.")

#         # Save and log the notebook
#         # notebook_path = "exp1_baseline_model.ipynb"
#         # logging.info("Executing Jupyter Notebook. This may take a while...")
#         # os.system(f"jupyter nbconvert --to notebook --execute --inplace {notebook_path}")
#         # mlflow.log_artifact(notebook_path)

#         # logging.info("Notebook execution and logging complete.")

#         # Print the results for verification
#         logging.info(f"r2_score: {r2s}")
#         logging.info(f"mean_absolute_error: {mae}")
#         logging.info(f"root_mean_squared_error: {rmse}")

#     except Exception as e:
#         logging.error(f"An error occurred: {e}", exc_info=True)

2025-07-14 03:27:07,906 - INFO - Starting MLflow run...
2025-07-14 03:27:08,238 - INFO - Logging preprocessing parameters...
2025-07-14 03:27:08,548 - INFO - Initializing XGBoost Regression model with Column Transformer...
2025-07-14 03:27:08,554 - INFO - Fitting the model...
2025-07-14 03:27:09,535 - INFO - Model training complete.
2025-07-14 03:27:09,537 - INFO - Logging model parameters...
2025-07-14 03:27:10,693 - INFO - Making predictions...
2025-07-14 03:27:10,706 - INFO - Calculating evaluation metrics...
2025-07-14 03:27:10,711 - INFO - Logging evaluation metrics...
2025-07-14 03:27:13,294 - INFO - Saving and logging the model...
2025-07-14 03:27:24,209 - INFO - Model training and logging completed in 15.97 seconds.
2025-07-14 03:27:24,210 - INFO - r2_score: 0.982562243938446
2025-07-14 03:27:24,211 - INFO - mean_absolute_error: 0.7808371782302856
2025-07-14 03:27:24,211 - INFO - root_mean_squared_error: 3.682307243347168

🏃 View run adaptable-robin-357 at: https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow/#/experiments/0/runs/86e4cd81652c404981ad6bd3eddfb2bb
🧪 View experiment at: https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow/#/experiments/0

# 4) Model Training, Validation, Evaluation

In [93]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error,root_mean_squared_error

In [94]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,handle_unknown="ignore"),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [95]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [98]:
# pipe.fit(X_train,y_train)
# y_pred = pipe.predict(X_test)
# print(r2_score(y_test,y_pred))
# print(mean_absolute_error(y_test,y_pred))
# print(root_mean_squared_error(y_test, y_pred))

0.9870306253433228
1.8598790825695912
3.841559120927229

In [99]:
teams

['Australia',
 'India',
 'Bangladesh',
 'New Zealand',
 'South Africa',
 'England',
 'West Indies',
 'Afghanistan',
 'Pakistan',
 'Sri Lanka']

In [ ]:
# X_new = pd.DataFrame([{
#     'batting_team':  'Australia',
#     'bowling_team':  'India',
#     'city':          'Sydney',
#     'current_score': 80,
#     'balls_left':    60,
#     'wickets_left':  7,
#     'crr':            8,
#     'last_five':     32
# }])

# pipe.predict(X_new)[0]

np.float32(155.22124)

In [102]:
eligible_cities

['Colombo',
 'Dubai',
 'Johannesburg',
 'Auckland',
 'Mirpur',
 'Sydney',
 'Lahore',
 'Cape Town',
 'Dhaka',
 'London',
 'Durban',
 'Wellington',
 'Melbourne',
 'Pallekele',
 'Christchurch',
 'Barbados',
 'Centurion',
 'Abu Dhabi',
 'Lauderhill',
 'Mount Maunganui',
 'Southampton',
 'Hamilton',
 'Gros Islet',
 'Manchester',
 'Nottingham',
 'St Lucia',
 'Karachi',
 'Kolkata',
 'Bridgetown',
 'Cardiff',
 'Adelaide',
 'Mumbai',
 'Tarouba',
 'Birmingham',
 'Brisbane',
 "St George's",
 'Kandy',
 'Perth',
 'Sharjah',
 'Chittagong',
 'Delhi',
 'Ahmedabad',
 'Providence',
 'Chandigarh',
 'Kingston',
 'Rajkot',
 'Napier',
 'Nagpur',
 'Pune',
 'Bangalore',
 'Sylhet',
 'Dambulla',
 'Hobart',
 'Trinidad']

In [ ]:
# import pandas as pd
# from sklearn.model_selection import GridSearchCV, KFold
# from sklearn.pipeline import Pipeline
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from xgboost import XGBRegressor

# # ─────────────────────────────────────────────────────────────────────────────
# # 1. LOAD / PREP YOUR DATA
# # ─────────────────────────────────────────────────────────────────────────────
# # (Replace with your own data-loading code)
# # df = pd.read_csv("…")
# X = X_train
# y = y_train

# # ─────────────────────────────────────────────────────────────────────────────
# # 2. DEFINE FEATURE GROUPS
# # ─────────────────────────────────────────────────────────────────────────────
# cat_cols = ['batting_team', 'bowling_team', 'city']
# num_cols = ['current_score', 'balls_left', 'wickets_left', 'crr', 'last_five']

# # ─────────────────────────────────────────────────────────────────────────────
# # 3. BUILD PREPROCESSOR + PIPELINE
# # ─────────────────────────────────────────────────────────────────────────────
# preprocessor = ColumnTransformer([
#     ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_cols),
#     ('scale',  StandardScaler(), num_cols)
# ])

# pipe = Pipeline([
#     ('preprocess', preprocessor),
#     ('model',      XGBRegressor(objective='reg:squarederror', random_state=1))
# ])

# # ─────────────────────────────────────────────────────────────────────────────
# # 4. SET UP PARAM GRID FOR XGBOOST
# # ─────────────────────────────────────────────────────────────────────────────
# param_grid = {
#     # tree booster
#     'n_estimators':    [100, 300, 600, 1000, 1200, 1500],
#     'max_depth':       [3, 6, 10, 12, 15, 18],
#     'learning_rate':   [0.01, 0.05, 0.1, 0.2],
# }

# # ─────────────────────────────────────────────────────────────────────────────
# # 5. CONFIGURE CROSS-VALIDATION
# # ─────────────────────────────────────────────────────────────────────────────
# cv = KFold(n_splits=5, shuffle=True, random_state=1)

# grid = GridSearchCV(
#     estimator   = pipe,
#     param_grid  = param_grid,
#     cv          = cv,
#     scoring     = 'neg_root_mean_squared_error',  # returns –RMSE
#     n_jobs      = -1,
#     verbose     = 2
# )

# # ─────────────────────────────────────────────────────────────────────────────
# # 6. RUN THE GRID SEARCH
# # ─────────────────────────────────────────────────────────────────────────────
# grid.fit(X, y)

# # ─────────────────────────────────────────────────────────────────────────────
# # 7. RESULTS
# # ─────────────────────────────────────────────────────────────────────────────
# best_rmse   = -grid.best_score_
# best_params =  grid.best_params_

# print(f"▶︎ Best CV RMSE: {best_rmse:.3f}")
# print("▶︎ Best parameters:")
# for p, v in best_params.items():
#     print(f"   • {p}: {v}")

Fitting 5 folds for each of 144 candidates, totalling 720 fits
▶︎ Best CV RMSE: 2.225
▶︎ Best parameters:
   • model__learning_rate: 0.05
   • model__max_depth: 6
   • model__n_estimators: 1500

In [101]:
import logging, os, shutil, time
import mlflow
import numpy as np
import pandas as pd

from sklearn.model_selection    import train_test_split, GridSearchCV, KFold
from sklearn.compose            import ColumnTransformer
from sklearn.preprocessing      import OneHotEncoder, StandardScaler
from sklearn.pipeline           import Pipeline
from xgboost                    import XGBRegressor
from sklearn.metrics            import r2_score, mean_absolute_error, mean_squared_error


mlflow.set_experiment('XGBoost Regressor Hyperparameter Tuning')

# ─────────────────────────────────────────────────────────────────────────────
# 0. CONFIGURE LOGGING
# ─────────────────────────────────────────────────────────────────────────────
logging.basicConfig(level=logging.INFO, format="%(asctime)s %(levelname)s %(message)s")

# ─────────────────────────────────────────────────────────────────────────────
# 1. LOAD YOUR DATA
# ─────────────────────────────────────────────────────────────────────────────
# assume df is your DataFrame and 'runs_y' is the target
# df = pd.read_csv("…")
X = final_df.drop(columns=['runs_y'])
y = final_df['runs_y']

# ─────────────────────────────────────────────────────────────────────────────
# 2. SPLIT TRAIN / TEST
# ─────────────────────────────────────────────────────────────────────────────
test_size = 0.2
random_state = 1
logging.info(f"Splitting data, test_size={test_size}")
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=test_size, random_state=random_state
)

# ─────────────────────────────────────────────────────────────────────────────
# 3. DEFINE PREPROCESSOR + PIPELINE
# ─────────────────────────────────────────────────────────────────────────────
cat_cols = ['batting_team', 'bowling_team', 'city']
num_cols = ['current_score', 'balls_left', 'wickets_left', 'crr', 'last_five']

preprocessor = ColumnTransformer([
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_cols),
    ('scale',  StandardScaler(),                      num_cols)
])

pipe = Pipeline([
    ('preprocess', preprocessor),
    ('model',      XGBRegressor(
        objective='reg:squarederror',
        random_state=random_state
    ))
])

# ─────────────────────────────────────────────────────────────────────────────
# 4. SET UP PARAM GRID
# ─────────────────────────────────────────────────────────────────────────────
param_grid = {
    'model__n_estimators':    [200,400,600,800,1000],
    'model__max_depth':       [6,8,10,12,14,16],
    'model__learning_rate':   [0.01,0.05,0.1,0.2]
}

# ─────────────────────────────────────────────────────────────────────────────
# 5. GRIDSEARCHCV with 5-fold CV
# ─────────────────────────────────────────────────────────────────────────────
cv = KFold(n_splits=5, shuffle=True, random_state=random_state)

grid = GridSearchCV(
    estimator  = pipe,
    param_grid = param_grid,
    cv         = cv,
    scoring    = 'neg_root_mean_squared_error',
    n_jobs     = -1,
    verbose    = 2,
)

# ─────────────────────────────────────────────────────────────────────────────
# 6. MLflow RUN
# ─────────────────────────────────────────────────────────────────────────────
with mlflow.start_run():
    start_time = time.time()
    # log basic run params
    mlflow.log_param("test_size",    test_size)
    mlflow.log_param("model_name",  "XGBRegressor")

    logging.info("Starting GridSearchCV …")
    grid.fit(X_train, y_train)
    logging.info("GridSearchCV complete.")

    # # log every CV combo’s mean & std RMSE
    # cv_res = grid.cv_results_
    # for i, (mean_score, std_score, params) in enumerate(
    #     zip(cv_res['mean_test_score'], cv_res['std_test_score'], cv_res['params'])
    # ):
    #     mean_rmse = -mean_score
    #     mlflow.log_metric(f"cv_{i}_mean_rmse", mean_rmse)
    #     mlflow.log_metric(f"cv_{i}_std_rmse",  std_score)
    #     # also log the param values for this combo
    #     for p_name, p_val in params.items():
    #         mlflow.log_param(f"cv_{i}_{p_name}", p_val)

    # best CV results
    best_rmse   = -grid.best_score_
    best_params =  grid.best_params_
    mlflow.log_metric("cv_best_rmse", best_rmse)
    for p_name, p_val in best_params.items():
        mlflow.log_param(f"best_{p_name}", p_val)

    logging.info(f"Best CV RMSE = {best_rmse:.4f}")
    logging.info(f"Best params   = {best_params}")

    # ─────────────────────────────────────────────────────────────────────────
    # 7. EVALUATE ON HELD-OUT TEST SET
    # ─────────────────────────────────────────────────────────────────────────
    logging.info("Evaluating best model on test set …")
    best_model = grid.best_estimator_
    y_pred     = best_model.predict(X_test)

    r2   = r2_score(y_test, y_pred)
    mae  = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))

    mlflow.log_metric("test_r2_score",                r2)
    mlflow.log_metric("test_mean_absolute_error",     mae)
    mlflow.log_metric("test_root_mean_squared_error", rmse)

    logging.info(f"Test R²   = {r2:.4f}")
    logging.info(f"Test MAE  = {mae:.4f}")
    logging.info(f"Test RMSE = {rmse:.4f}")

    # ─────────────────────────────────────────────────────────────────────────
    # 8. SAVE & LOG FINAL MODEL
    # ─────────────────────────────────────────────────────────────────────────
    model_dir = "xgb_cv_model"
    if os.path.exists(model_dir):
        shutil.rmtree(model_dir)
    mlflow.sklearn.save_model(best_model, path=model_dir)
    mlflow.log_artifacts(model_dir, artifact_path="model")

    elapsed = time.time() - start_time
    logging.info(f"Run completed in {elapsed:.1f}s")

2025-07-19 14:06:40,964 INFO Splitting data, test_size=0.2
2025-07-19 14:06:41,869 INFO Starting GridSearchCV …

Fitting 5 folds for each of 120 candidates, totalling 600 fits

2025-07-19 14:39:31,426 INFO GridSearchCV complete.
2025-07-19 14:39:32,722 INFO Best CV RMSE = 4.2029
2025-07-19 14:39:32,724 INFO Best params   = {'model__learning_rate': 0.1, 'model__max_depth': 10, 'model__n_estimators': 1000}
2025-07-19 14:39:32,725 INFO Evaluating best model on test set …
2025-07-19 14:39:33,782 INFO Test R²   = 0.9888
2025-07-19 14:39:33,784 INFO Test MAE  = 1.7872
2025-07-19 14:39:33,785 INFO Test RMSE = 3.5708
c:\Users\srika\anaconda3\envs\atlas310\lib\site-packages\_distutils_hack\__init__.py:15: UserWarning: Distutils was imported before Setuptools, but importing Setuptools also replaces the `distutils` module in `sys.modules`. This may lead to undesirable behaviors or errors. To avoid these issues, avoid using distutils directly, ensure that setuptools is installed in the traditional way (e.g. not an editable install), and/or make sure that setuptools is always imported before distutils.
  warnings.warn(
c:\Users\srika\anaconda3\envs\atlas310\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils. Support for replacing an already imported distutils is deprecated. In the future, this condition will fail. Register concerns at https://github.com/pypa/setuptools/issues/new?template=distutils-deprecation.yml
  warnings.warn(
2025-07-19 14:39:51,971 INFO Run completed in 1990.7s
2025/07/19 14:39:55 INFO mlflow.tracking._tracking_service.client: 🏃 View run skillful-stork-224 at: https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow/#/experiments/3/runs/54a73af61edb4a63b827be84aee03af1.
2025/07/19 14:39:55 INFO mlflow.tracking._tracking_service.client: 🧪 View experiment at: https://dagshub.com/srikara202/Cricket-T20-Score-Predictor-MLOps.mlflow/#/experiments/3.

In [ ]:
# import pandas as pd
# from sklearn.model_selection import GridSearchCV, KFold
# from sklearn.pipeline import Pipeline
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder, StandardScaler

# from xgboost import XGBRegressor
# from lightgbm import LGBMRegressor
# from catboost import CatBoostRegressor
# from sklearn.ensemble import HistGradientBoostingRegressor, ExtraTreesRegressor

# mlflow.set_experiment('Cross Validation')

# # ─────────────────────────────────────────────────────────────────────────────
# # 1. LOAD YOUR DATA
# # ─────────────────────────────────────────────────────────────────────────────
# # assume `df` is your DataFrame and 'runs_y' is the target
# # df = pd.read_csv("…")
# X = X_train
# y = X_test

# # ─────────────────────────────────────────────────────────────────────────────
# # 2. FEATURE LISTS
# # ─────────────────────────────────────────────────────────────────────────────
# cat_cols = ['batting_team', 'bowling_team', 'city']
# num_cols = ['current_score', 'balls_left', 'wickets_left', 'crr', 'last_five']

# # ─────────────────────────────────────────────────────────────────────────────
# # 3. PREPROCESSOR FOR ONE-HOT + SCALE
# # ─────────────────────────────────────────────────────────────────────────────
# preprocessor = ColumnTransformer([
#     ('onehot', OneHotEncoder(handle_unknown='ignore'), cat_cols),
#     ('scale', StandardScaler(), num_cols)
# ])

# # ─────────────────────────────────────────────────────────────────────────────
# # 4. DEFINE PIPELINES + PARAM-GRIDS
# # ─────────────────────────────────────────────────────────────────────────────
# models = {
#     'xgb': {
#         'pipeline': Pipeline([
#             ('preprocess', preprocessor),
#             ('model', XGBRegressor(objective='reg:squarederror', random_state=1))
#         ]),
#         'params': {
#             'model__n_estimators': [100, 500, 1000],
#             'model__learning_rate': [0.01, 0.1, 0.2],
#             'model__max_depth': [3, 6, 12]
#         }
#     },
#     'lgbm': {
#         'pipeline': Pipeline([
#             ('preprocess', preprocessor),
#             ('model', LGBMRegressor(random_state=1))
#         ]),
#         'params': {
#             'model__n_estimators': [100, 500, 1000],
#             'model__learning_rate': [0.01, 0.05, 0.1],
#             'model__max_depth': [-1, 6, 12]
#         }
#     },
#     'cat': {
#         # CatBoost handles cats natively → no OHE or scaling
#         'pipeline': Pipeline([
#             ('model', CatBoostRegressor(verbose=0, random_state=1))
#         ]),
#         'params': {
#             'model__iterations':  [500, 1000],
#             'model__learning_rate': [0.03, 0.1],
#             'model__depth': [6, 8, 10]
#         },
#         'fit_params': {
#             'model__cat_features': cat_cols
#         }
#     },
#     'histgb': {
#         'pipeline': Pipeline([
#             ('preprocess', preprocessor),
#             ('model', HistGradientBoostingRegressor(random_state=1))
#         ]),
#         'params': {
#             'model__max_iter':       [100, 300],
#             'model__max_depth':      [None, 6, 12],
#             'model__learning_rate':  [0.01, 0.1]
#         }
#     },
#     'extratree': {
#         # trees → no scaling; only OHE for cats
#         'pipeline': Pipeline([
#             ('preprocess', ColumnTransformer([
#                 ('onehot', OneHotEncoder(handle_unknown='ignore'), cat_cols)
#             ], remainder='passthrough')),
#             ('model', ExtraTreesRegressor(random_state=1))
#         ]),
#         'params': {
#             'model__n_estimators':   [100, 500, 1000],
#             'model__max_features':   ['auto','sqrt','log2']
#         }
#     }
# }

# # ─────────────────────────────────────────────────────────────────────────────
# # 5. RUN GRID-SEARCH CV
# # ─────────────────────────────────────────────────────────────────────────────
# cv = KFold(n_splits=5, shuffle=True, random_state=1)
# results = {}

# for name, m in models.items():
#     print(f"\n▶︎ Running GridSearchCV for {name} …")
#     gs = GridSearchCV(
#         estimator   = m['pipeline'],
#         param_grid  = m['params'],
#         cv          = cv,
#         scoring     = 'neg_root_mean_squared_error',
#         n_jobs      = -1,
#         verbose     = 2
#     )
#     # pass cat_features for CatBoost only
#     if 'fit_params' in m:
#         gs.fit(X, y, **m['fit_params'])
#     else:
#         gs.fit(X, y)

#     best_rmse     = -gs.best_score_
#     best_params   = gs.best_params_
#     results[name] = (best_rmse, best_params)

#     print(f"✔ {name:8s}  best RMSE = {best_rmse:.3f}")
#     print("  params →", best_params)

# # ─────────────────────────────────────────────────────────────────────────────
# # 6. OPTIONAL: SUMMARY TABLE
# # ─────────────────────────────────────────────────────────────────────────────
# summary = pd.DataFrame.from_dict(
#     {k: {'rmse': v[0], 'params': v[1]} for k, v in results.items()},
#     orient='index'
# ).sort_values('rmse')
# print("\nAll models ranked by best RMSE:\n", summary)